.myimg{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    margin: 1rem auto;
    width: 500px;
    img{
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }
}