.mytext{
    width: 70%;
    margin: 0 auto;
    color: #424242;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 1px;

}