@import "../../../scss/variables.scss";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.carousel2 {
	position: relative;
	.link {
		position: absolute;
		bottom: 10%;
		right: 1%;
		z-index: 12;
		background: linear-gradient(to right bottom, #010f8bc6,#009dffb9,#84dcffd2);
		color: $light;
		padding: 2% 5%;
		font-size: 1.5rem;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.703);
		border-radius: 0 33px 0 33px;
		&:hover {
			transform: scale(1.05);
		}
	}
	img {
		border-radius: 10px;
	}
}
.carousel .slider-wrapper {
	width: 500px;
}
