@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "../../../scss/variables.scss";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.carousel1 {
	// border: 1px solid red;
	width: 100%;
	// margin: 0 30px 0 0;
	height: 300px;
	// padding: 0 5% 0 0;
	position: absolute;
	left: 0%;
	.slide {
		transform: scale(0.8);
		transition: transform 300ms;
		opacity: 0.7;
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
			height: 350px;
			object-fit: cover;
			margin: 0 auto;
			border-radius: $br_r_10;
		}
		.link {
			padding: 2% 2% 4%;
			width: 70%;
			text-align: center;
			color: $light;
			position: absolute;
			bottom: -25%;
			left: 15%;
			font-size: 1.4rem;
			background: linear-gradient(
				to right bottom,
				#010f8bc6,
				#009dffb9,
				#84dcffd2
			);
			border-radius: 0 20px 0 20px;
			box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
			&:hover {
				transform: scale(1.07);
			}
		}
	}
	.active {
		transform: scaleX(1);
		opacity: 1;
		img {
			width: 100%;
			z-index: 123;
			object-fit: cover;
		}
		.link {
			bottom: 5%;
			left: 15%;
		}
	}
	.arrow {
		position: absolute;
		cursor: pointer;
		z-index: 12;
		width: 10%;
		text-align: center;
		transition: 0.1ms;
		bottom: 45%;
		font-size: 1.5rem;
color: $light;
		&:hover {
			color: $primary;
			transition: 0.1ms;
		}
	}

	.next {
		right: -4.5%;
	}
	.prev {
		left: -4.5%;
	}
}
