@import "../../scss/variables.scss";
.info1 {
	padding: 5% 0 3%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 4rem;
	& :nth-child(4) {
		.info1__div-img {
			order: 2;
		}
		.info1__div-texts {
			order: 1;
			justify-self: flex-end;
			text-align: end;
			.info1__div-texts-btn {
				align-self: flex-end;
			}
		}
	}
	&__img {
		height: 100%;
		width: 100%;
		position: absolute;
		bottom: 0%;
		left: 0%;
		z-index: -0;
		opacity: 70%;
		object-fit: cover;
		transform: rotateX(180deg);
	}
	&__pedTitlesDiv {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 3rem;
		h2 {
			width: 100%;
			text-align: center;
			font-size: 3rem;
			color: $light;
			position: relative;
			z-index: 12;
			// border: 1px solid red;
		}
		&-Texts {
			background: #1087ffad;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 1rem;
			box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.73);
			border-radius: 20px;
			padding: 2% 5%;
			position: relative;
			z-index: 12;
			p {
				color: $light;
			}
			&-Logo {
				border-radius: 50%;
				width: 6%;
				box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.66);
			}
		}
	}
	&__div {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 12;
		&-img {
			width: 47%;
			height: 300px;
			border-radius: 20px;
			object-fit: cover;
			box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.308);
			opacity: 0.9;
			&:hover {
				opacity: 1;
				transform: scale(1.05);
				box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.308);
			}
		}
		&-texts {
			width: 47%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			gap: 1rem;
			&-text {
				color: #fff;
				font-size: 1.2rem;
			}
			&-btn {
				border: none;
				background: linear-gradient(to right bottom, #010f8bc6,#009dffb9,#84dcffd2);
				cursor: pointer;
				padding: 1% 5%;
				color: $light;
				font-size: 1.7rem;
				border-radius: 0 30px 0;
				font-family: emoji;
				padding: 3% 10%;
				box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.608);
				&:hover {
					transform: scale(1.05);
					color: $light;
				}
			}
		}
	}
}
