*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

.cards{
    margin: 8% 0;
    width: 100%;
    padding: 0 23%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__card{
        width: 46%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        border: 1px solid red;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
}