@import "../../scss/variables.scss";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1234;
	width: $w_100;
	padding: 0 10%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	background: #181a1be5;
	transition: 0.3s;
	&__logo {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 23%;
		cursor: pointer;
		height: 100%;
		// border: 1px solid red;
		&-img {
			height: 60%;
			object-fit: cover;
			margin: auto 0;
		}
		h4 {
			color: #2447a7;
			font-size: 1rem;
		}
	}
	&__links {
		// border: 2px solid red;
		width: 65%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #2447a7;
		&-link {
			display: inline-block;
			font-size: 1rem;
			font-family: emoji;
			text-transform: uppercase;
			font-weight: 600;
			color: #2447a7;
			padding: 0.7% 0;
		}
		&-div {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			gap: 0.1rem;
			transition: 1s;
			&:hover &-link {
				color: $reddish;
			}
			&:hover &-line {
				border: 1px solid $reddish;
				background: $reddish;
			}
			&:hover .top {
				margin: 0 0 0 65%;
			}
			&:hover .bottom {
				margin: 0 65% 0 0;
			}
			&-link {
				display: inline-block;
				font-size: 1rem;
				font-family: emoji;
				text-transform: uppercase;
				font-weight: 600;
				padding: 0.7% 0;
			}
			&-line {
				border: 1px solid #2447a7;
				width: 35%;
			}
			.bottom {
				margin: 0 0 0 65%;
			}
		}
		.last {
			&:hover .nav__links-div-line {
				background: $reddish;
			}
			&:hover .bottom {
				margin: 0 70% 0 0;
			}
			.nav__links-div-line {
				width: 30%;
				background: #2447a7;
			}
			.bottom {
				margin: 0 0 0 70%;
			}
		}
	}
	&__mobile {
		display: none;
		&-elements {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 3%;
			p {
				font-size: 1.3em;
				transform: rotateY(180deg);
				justify-self: flex-end;
			}
		}
	}
}
@media (min-width: $xxl) {
	.nav {
	}
}
@media (max-width: $xl) {
	.nav {
	}
}
@media (max-width: $lg) {
	.nav {
	}
}
@media (max-width: $md) {
	.nav {
	}
}
@media (max-width: $sm) {
	.nav {
	}
}
@media (max-width: $xs) {
	.nav {
	}
}
